#home{
    margin: 0rem;
    width: 100vw;
    height:100vh;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    overflow: auto;
}
body{
    margin:0px;
    
}
.name{
    color:white;
    padding:18rem 0rem  0rem 10rem;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name-main{
    color:#ff9d09;
}
.nametag{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0rem 0rem  0rem 10rem;
}
.nametag-sub{
    color:red;
    background-color: white;
    padding: 0.2em;
    margin-left: 0.5em;

}
.social-links{
    padding:10rem 0rem  6rem 10rem;
    list-style: none;
}
.social-links > li{
    display:inline-block;
    padding: 0px 6px 0px 2px;
}
.fab
{
    color:white;
    transition-duration: 0.5s;
}
.fab:hover{
    color:orange;
    transform: rotate(360deg);
}
@media all and (max-width:720px)
{
    .name-main{
        display: block;
    }
    .name{
        color:white;
        padding: 50vh 0vw 0vh 20vw;
        font-size: 180%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .nametag{
        color:white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding:0vh 0vw  0vh 20vw;
    }
}
@media all and (max-width:480px)
{
    .name-main{
        display: block;
    }
    .name{
        color:white;
        padding:50vh 0vw 0vh 20vw;;
        font-size: 130%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .nametag{
        color:white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding:0vh 0vw 0vh 20vw;
    }
}
