header{
    overflow: auto;
}
.navbar
{
    width:100vw;
    position:fixed;
    background-color: white;
    padding:2vh 0vw;
}
.navlist li{
   list-style-type: none;
   display: inline;
}
a{
    display: inline;
}
.navbar a{
    padding: 0vh 5vw;
    text-decoration: none;
    font-size: 120%;
}

@media screen and (max-width:1332px)
{
    .navbar a{
        padding: 0vh 3vw;
        text-decoration: none;
        font-size: 120%;
    }
}

@media screen and (max-width:696px)
{
    .navbar a{
        padding: 0vh 2vw;
        text-decoration: none;
        font-size: 120%;
    }
}

@media screen and (max-width:590px)
{
    .navlist li
    {  
        display: inline-block;
        width:30%;
    }
    .connav
    {
        display: none;
    }
}
@media screen and (max-width:400px)
{
    .navlist li
    {  
        display: block;
        width:100%;
        text-align: center;
    }
}